extends layout
block content
	#content
		h2=player.handle
			- if (request.user.admin || player.email === request.user.email)
				&nbsp;[&nbsp;
				a(href='/Players/'+player.email+'/Update') Update Info
				&nbsp]&nbsp;
		ul
			li First Name: #{player.firstName}
			li Last Name: #{player.lastName}
			li Email Address: #{player.email}
