extends layout
block content
	#content
		h2=player.handle
			if (request.user.admin || player.email === request.user.email)
				&nbsp;[&nbsp;
				a(href='/players/'+player.email+'/update') Update Info
				&nbsp]&nbsp;
		table
				tbody
					- each stat, name in player.playerStats
						tr
							td=name
							td=stat
