extends layout

block content
	#content
		h2 Games:
			&nbsp;[&nbsp;
			a(href="/Games/Create") Create Game
			&nbsp;]&nbsp;
			ol
				each game in games
					li 
						a(href='/Games/' + game['_id']) #{game.name}
						&nbsp;[&nbsp;
						a(href='/Games/' + game['_id'] + '/Join') Join
						&nbsp;][&nbsp;
						a(href='/Games/' + game['_id'] + '/Spectate') Spectate]
