extends layout
block content
  body(onload="document.getElementById('chat_name').focus()")
    script(src='/socket.io/socket.io.js')
    script
      var socket = io.connect();
      function joinGame() {
        sessionStorage.name = document.getElementById('chat_name').value;
                
        document.getElementById('chat_input').focus();
        document.getElementById('join_game').style.display='none';
        document.getElementById('change_name').style.display='inline';
        
        socket.on('news', function(data) {
          var msg = '<p>' + data.update + '<p>';  
          document.getElementById('chat_room').innerHTML+=msg;
          console.log('News Update: ', data.update);
        });
        
        socket.emit('joinGame', {name: sessionStorage.name});

      }; 
      function sendMessage() {
        var chatInput = document.getElementById('chat_input').value;
        console.log(sessionStorage.name,':', chatInput);
        socket.emit('public message', {
          from: sessionStorage.name,
          msg: chatInput
        });
        document.getElementById('chat_input').select();
      };
      
      function changeName() {
        var oldName = sessionStorage.name;
        var newName = document.getElementById('chat_name').value;
        
        sessionStorage.name = newName;
        socket.emit('changeName', {before: oldName, after: newName});
      };
      
      function clearRoom() {
        document.getElementById('chat_room').innerHTML='';
        document.getElementById('chat_input').select();
      };
      

    h1= title
    //p Welcome to #{title}
    
    #chat_room
    
    input#chat_name
    button#join_game(onClick="joinGame()") Join Game
    button#change_name(onClick="changeName()", style="display:none") Change Name  
    br
    input#chat_input(onkeyup="if(event.keyCode == 13){document.getElementById('send').click();}")
    button#send(onClick="sendMessage()") send message
    br
    br
    button#clear(onClick="clearRoom()") clear
    
    
    
