!!! 5
html
	head
		block head
			link(rel='stylesheet', href='/stylesheets/styles.css')
			script(type="text/javascript", src='/scripts/jquery-1.8.3.min.js')
			title= env.serverName
	body
		#wrapper
			block wrapper
				#header
					block header
						block session
							#session
								if (session.passport.user)
									span Logged on as #{session.passport.user.handle}. 
										[&nbsp;
										a(href='/logoff') Logoff
										&nbsp;]
								else
									span Not logged on. 
										[&nbsp; 
										a(href='/logon') Logon
										&nbsp;]
				#body
					block body
						block menu
							#menu
						block main
							#main
								block content
									#content

