extends layout
block session
block nav
block menu
block content
	#content
		center
			h1 Logon
	
			if (err)
				p.err=err
	
			form(action='/auth', method='POST')
				input(type='hidden', name='redir', value=redir)
				p 
					label(for='username') Username:
					input(type='text', name='username', id='username')
				p
					label(for='password') Password: 
					input(type='password', name='password', id='password')
				p
					input(type='submit')
