extends layout
block session
block nav
block menu
block content
	#content
		h2 Logon
			&nbsp;[&nbsp;
			a(href='/players/create') Create Player
			&nbsp;]&nbsp;
		if (err)
			p.err=err
		- var action = '/logon'
		if (redir)
			- action += '?redir=' + redir;
		form(action=action, method='POST')
			input(type='hidden', name='redir', value=redir)
			table
				tbody
					tr			
						td: label(for='email') Email:
						td: input(type='text', name='email', id='email')
					tr
						td: label(for='password') Password: 
						td: input(type='password', name='password', id='password')
			p
				input(type='submit', value='Logon')
