extends layout

block content
	#content
		h2 Players:
			&nbsp;[&nbsp;
			a(href="/players/create") Create Player
			&nbsp;]&nbsp;
		ul
			each player in players
				li 
					a(href='/players/' + player.email) #{player.email}
