extends layout
block session
block nav
block menu
block content
	#content
		center
			h1 Register
	
			if (err)
				p.err=err
	
			form(action='/players/register', method='POST')
				input(type='hidden', name='redir', value=redir)
				table
					tbody
						tr
							td: label(for='FirstName') First Name: 
							td: input(type='text', name='FirstName', id='FirstName')
						tr
							td: label(for='LastName') Last Name: 
							td: input(type='text', name='LastName', id='LastName')
						tr
							td: label(for='email') Email:
							td: input(type='text', name='email', id='email')
						tr
							td: label(for='password') Password: 
							td: input(type='password', name='password', id='password')
						// need to implement form validator to verify their passwords match
						tr
							td: label(for='verifyPassword') Verify Password: 
							td: input(type='password', name='verifyPassword', id='verifyPassword')
						tr
							td: label(for='handle') Handle: 
							td: input(type='text', name='handle', id='handle')		
				p
					input(type='submit')
				p
					a(href="/logon") Logon
