#playerCards {

	text-align:center;
	background-color:yellow;
	width:900px;
	position:fixed;
	bottom:0px;
	left:200px;
	height:133px;


}

#lookBox {
	position: fixed;
	background-color: blue;
	left: 300px;
	top: 300px;
	height: 250px;
	width: 200px;
	z-index: 999;
	display:none;
}

#phases {
	float:right;
	position:fixed;
	background-color:blue;
	height:245px;
	right:5px;
	top:400px;

}

#commentary {
	font-size: 20px;
	clear:right;
	overflow: scroll;
	background-color:green;
	height:400px;
	width:250px;
	display: block;
	color: white;
	position: fixed;
	left: 0px;
	top: 350px;
}

#inPlay {
	width:650px;
	margin-left:248px;
	height:200px;
	border:1px solid black;
	position:fixed;
	bottom: 133px;
	left:200px;

}

#Player {
	background-color:#B2D1FF;
	height:245px;
	float:left;
	margin-left: -40px;

}

#doneDiscarding {
	display: none;
}

#stats {
	float:left;
	border:2px solid black;
	margin:4px;
	margin-top:10px;
	margin-left:50px;
	font-size: 25px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#CCFFCC;
}

#bigStats {
	width:30px;
	height:150px;
	margin-left:50px;
	margin-top:-150px;
	float:right;

}

#bigStats ul {
	margin:0px;
	padding: 0px;
}

#stats span {
	border:1px dotted black;

}

#kingdom {

	position: fixed;
	left: 400px ;
	top: ;
	border:2px solid red;
	width:500px;
	height:211px;
	display: inline-block;
	

}

.normal {
height: 100px;
width: 100px;
display: inline-block;

}


#treasures {
	position: fixed;
	left: 220px;
	top: 150px;
	width:160px;
	height:165px;
	border: 2px solid black;

}

#victories {
	position: fixed;
	left: 220px;
	top: 25px;
	width:160px;
}

.kingdomCard {


}


.actionCard {

	border: 2px solid red;

}

.handSelect {

	border: 2px solid blue;
}
.victory {

	margin-top: -12px;
}

.victoryAttrWrap {
	overflow:hidden; /* this is important */

	height:30px;
	z-index: 1;
	display: inline-block;
}



.victoryAttr {
	margin: -230px 0px 0px 0px;

}

.victoryName {
	margin: -8px 0px 0px -42px;

}
#actionButton {
	display: none;
}
.victoryNameWrap {
	overflow:hidden; /* this is important */
	width: 80px;
	height: 21px;
	margin: -34px 52px 0px 42px;
	z-index: 99;
}

.kingdomCardWrap {
	overflow:hidden; /* this is important */
	width:100px;
	height:103px;
	display:inline-block;

}

.kingdomCardBottomWrap {
	overflow:hidden; /* this is important */
	width:100px;
	height:20px;
	display:inline-block;
	margin-left:-100px;
	margin-top:0px;
	z-index:1000;
}

.kingdomCardBottom {
	margin: -137px 0px 0px 0px;
}

.kingdomTreasureWrap {
	overflow:hidden; /* this is important */

	width:80px;
	height:85px;
	display:inline-block;
	margin-bottom:-10px;
	
}
.kingdomTreasure {
	margin: -40px 0px 0px -10px;
}

.buyableTreasure {
	margin: -40px 0px 0px -10px;
}
.unbuyableTreasure {
	margin: -40px 0px 0px -10px;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.unbuyableVictory {
	opacity: 0.4;
	margin-top: -12px;
}

.buyableVictory {
	margin-top: -12px;
}



.buyable {
	display: inline-block;
}

.unbuyable {
	opacity: 0.4;
	display: inline-block;
	filter: alpha(opacity=40);
}
