#playerCards {

	text-align:center;
	background-color:yellow;
	width:900px;


}

#phases {
	float:right;
	position:relative;
	background-color:blue;
	height:245px;

}

#inPlay {
	width:650px;
	margin-left:248px;
	height:200px;
	border:1px solid black;

}

#Player {
	background-color:#B2D1FF;
	height:245px;
	float:left;

}

#stats {
	float:left;
	border:2px solid black;
	margin:4px;
	margin-top:10px;
	margin-left:50px;
	font-size: 25px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#CCFFCC;
}

#bigStats {
	width:30px;
	height:90px;
	margin-left:50px;
	margin-top:-90px;
	float:right;

}

#bigStats ul {
	margin:0px;
	padding: 0px;
}

#stats span {
	border:1px dotted black;

}

#kingdom {

	margin-bottom:50px;
	margin-left:20px;
	margin-right:20px;
	border:2px solid red;
	width:500px;
	height:211px;
	display: inline-block;
	

}

#treasures {
	display:inline-block;
	width:160px;
	height:165px;
	border: 2px solid black;
	margin-right:0px;

}

#victories {
	display:inline-block;


}

.kingdomTreasureWrap {
	overflow:hidden; /* this is important */

	width:80px;
	height:85px;
	display:inline-block;
	margin-bottom:-10px;
	
}
.kingdomTreasure {
	margin: -40px 0px 0px -10px;
}

.buyableKingdomTreasure {
	margin: -40px 0px 0px -10px;
}
.unbuyableKingdomTreasure {
	margin: -40px 0px 0px -10px;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.kingdomCardWrap {

	overflow:hidden; /* this is important */

	width:100px;
	height:103px;
	display:inline-block;

}

.kingdomCardBottomWrap {
	overflow:hidden; /* this is important */

	width:100px;
	height:20px;
	display:inline-block;
	margin-left:-100px;
	margin-top:0px;
	z-index:1000;
}

.kingdomCardBottom {
	margin: -137px 0px 0px 0px;
}

.kingdomCard {


}

.normal {

}


.buyable {
	
}

.unbuyable {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
