extends layout

block content
	#content
		h2 Create Game
		form(action='/Games/Create', method='POST')
			p
				label(for='name') Name: 
				input(type='text', name='name', id='name')
			p
				input(type='submit', value='Create')
