extends layout

block content
	#content
		h2 Game: #{game.name}
		h3 Status: #{game.status}
		label(for="PlayersList") Players:
		ul#PlayersList
		p
			a(href='/games/' + game['_id'] + '/lobby') Enter Lobby
