extends layout

block content
	#content
		h2 Game: #{game.name}
		label(for="PlayersList") Players:
		ul#PlayersList
			- for (var i=0; i < game.players.length; i+=1) 
				li #{game.players[i].email}, sid: #{game.players[i].sid}
		p
			a(href='/games/' + game['_id'] + '/leave') Leave Lobby
