extends layout
block socketio
	script(src='/socket.io/socket.io.js')
	script(src='/scripts/socket.js')
	
block menu
block content
	#content
		h2 #{playerOne.handle}'s Game
		label(for="PlayersList") Players:
		ol#PlayersList
		label(for="chat_log") Chat Log:
		br
		textarea(id='chat_log', cols='100', rows='15', disabled='disabled')
		br
		input(id='chat_input', disabled='disabled', size='100')
		button(id='chat_submit', disabled='disabled') Chat