extends layout
block socketio
	script(src='/socket.io/socket.io.js')
	script(src='/scripts/socket.js')
	
block menu
block content
	#content
		h2 #{game.playerOne.handle}'s Game
		label(for="PlayersList") Players:
		ol#PlayersList
		br
		label(for="chat") Chat:
		#chat
		br
		input(id='chat_input')
		button(id='chat_submit') [ Send Message ]
		br
		p
			a(href='/games/' + game['_id']) Leave Lobby
